<!-- pet_adoptions/templates/registration/password_reset_form.html -->
{% extends 'home.html' %}
{% load static %}
{% block content %}
  <!-- <h2>Forgot Password</h2>
  <form method="post" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Reset Password</button>
  </form> -->
<head>
  <link rel="stylesheet" href="{% static 'forgot1.css' %}">
</head>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="forgot-password-form">
          <h2>Forgot Password</h2>
          <form method="post" action="{% url 'password_reset' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </form>
          <a href="{% url 'login' %}" class="login-link">Remembered your password? Login here.</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
