<!-- pet_adoptions/templates/registration/password_reset_done.html -->
{% extends 'home.html' %}
{% load static %}
{% block content %}
<!-- <p>We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the correct email address or username.</p>
<a href="{% url 'login' %}">Return to login</a> -->
<head><link rel="stylesheet" href="{% static 'forgot2.css' %}">
</head>
<div class="container">
    <div class="reset-confirmation">
      <p>We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the correct email address or username.</p>
      <a href="{% url 'login' %}" class="return-to-login">Return to login</a>
    </div>
  </div>
{% endblock %}
