/* Add your custom styles here */

body {
    background-color: #f8f9fa;
    background-image: url('images/login.jpg');
    background-repeat: repeat;
    background-size: auto;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.login-form {
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    color: #343a40;
}

.login-form form {
    margin-top: 20px;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #0056b3;
}

.login-form a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline;
}

.Welcome{
    text-align: center;
    color: #007bff; /* Bootstrap primary color */
    font-size: 2.5em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}